@model IEnumerable<CodefluxNews.Models.selectTop8Articles_Result>
@{
    ViewBag.Title = "TopArticles";
    Layout = "";
}
@*@Scripts.Render("~/bundles/jquery")*@
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
@*<script src="~/Scripts/moment.js"></script>*@
<script src="~/Scripts/site2.js"></script>

@*<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="~/Scripts/moment.js"></script>*@

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    p {
        font-size: small;
    }
    @*Lighter Grey == EDEDED
      Lightish Grey ==*@
</style>

<div class="container" style="padding-top:10px;" id="topArticles">

    <div class="row">
        <div class="col-lg-8 col-md-7" style="height:auto;">
            <div class="row" id="myDiv">

            </div>
        </div>

        <div class="col-lg-4 col-sm-5 " id="myRightDiv" style="padding-left:17px;padding-top:50px">

        </div>

    </div>
</div>