@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>                                                          

    @*I will have to put in an ID for the item karya*@
    <div class="container" style="padding-top:30px">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-10">
                        <div style="padding-bottom:30px">
                            <select class="browser-default custom-select" id="categoryDrop" onchange="getCategoryList()">
                                <option selected>All News</option>
                                <option value="1">Software Development</option>
                                <option value="2">Data Science</option>
                                <option value="3">SSIS</option>
                                <option value="4">Database</option>
                                <option value="5">Intergration</option>
                                <option value="6">Artificial Intelligence</option>
                                <option value="7">Cryptocurrency</option>
                                <option value="8">Social Media Development</option>
                                <option value="9">Mobile Development</option>
                                <option value="10">Web Development</option>
                                <option value="11">Applications Development</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h5 id="myTime" class="text-muted"></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="masonry" id="myDiv">
                </div>
                <div class="loader" id="progress" style="display:none"></div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-4">
                        <input type="image" src="~/UploadedImages/Up - Arrow.png" id="myBtn" onclick="topFunction(); return false;"/>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4"></div>
                </div>
            </div>
            <div class="col-lg-12 noContent" style="display:none">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <div class="theText" style="position:center">
                            No content to display
                        </div>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>

        </div>
    </div>

}
