@model IEnumerable<CodefluxNews.Models.ParentCategory>

@{
    ViewBag.Title = "ParentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Categories</h2>

<p>
    @Html.ActionLink("Create New", "CreateParentCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Category Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParentName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "EditParent", new { id = item.ParentId }) |*@
         
            @Html.ActionLink("Delete", "DeleteParent", new { id = item.ParentId },new{ onclick = "return confirm('Are you sure want to delete ?');" })
        </td>
    </tr>
}

</table>
