a.navbar-brand {
    /*white-space: normal;
    text-align: center;
    word-break: break-all;*/
}

.container {
    padding-left: 5px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    padding: 5px;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-auto-rows: 10px;
}

.content {
    border: 1px solid;
    border-color: #e9e9e9;
    /*border-radius: 10px;*/
    overflow: hidden;
}

#ItemsId:hover {
    transform: translateY(-5px);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #02D21C; /* Light Green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: center !important;
    margin: 0 50% 30% 50%;
}

.theText {
    font-size: 15px;
    font-weight: bold;
    color: #02D21C;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    width: 60px;
    height: 60px;
    right: 30px;
    z-index: 99;
    border-radius: 100%;
    outline: none;
    background-color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {

    .col-md-2 {
        display: none;
    }
}

@media only screen and (max-width: 991px) {

    .thePartialView {
        display:none;
    }
}

@media screen and (min-width: 767px) {
    .nav-item {
        display: none;
        visibility: hidden;
    }

    .btn {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) and (min-width: 10px) {

    .col-md-2 {
        display: none;
    }

    .btn {
        width: 100%;
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #02D21C; /* Light Green */
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;
        position: center !important;
        margin: 0 50% 20% 35%;
    }
}

.btn {
    color: black;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    /*font-family: 'Concert One';*/
    font-weight: bold;
    font-size: 16px;
    color: #5d5d5d;
}

h6 {
    font-size: 12px;
}

.noContainer {
    padding: 16px;
    font-size: 10px;
}

a {
    color: #5d5d5d;
}

a:hover {
    color: #02D21C;
}

.HoverTitle:hover {
    color: #02D21C;
}
.singleSummary {
    font-weight:100;
}

p {
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
